In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_path = "data/rbk/1_train-val_1min_aalesund_from_start/gt/gt.txt"

In [ ]:
df = pd.read_csv(data_path, sep=",", header=None)
df

In [ ]:
df.rename(columns={0: "frame", 1: "object_number", 2: "x_center", 3: "y_center", 4: "width", 5: "height", 6: "off_screen", 7: "class", 8: "idk"}, inplace=True)
df.drop(columns=["off_screen", "idk"], inplace=True)
df["class"] = df["class"] - 1

In [ ]:
df.describe()